.home-page{
    display: flex;
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.h1-global{
    text-align: center;
}

.home-sem-cadastros{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 60%;
}

.home-page-content{
    display: flex;
    flex-direction: column;
    text-align: center;
    border: solid lightblue 1px;
    border-radius: 15px;
    width: 80%;
    padding: 3%;
}